# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

# Indentation for TypeScript, JavaScript, and React files
[*.{ts,tsx,js,jsx}]
indent_style = space
indent_size = 2

# Indentation for JSON files
[*.json]
indent_style = space
indent_size = 2

# Indentation for CSS and SCSS files
[*.{css,scss}]
indent_style = space
indent_size = 2

# Indentation for HTML files
[*.html]
indent_style = space
indent_size = 2

# Indentation for Markdown files
[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

# Indentation for YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2
