{
    "printWidth": 80,
    "tabWidth": 2,
    "semi": true,
    "singleQuote": true,
    "quoteProps": "consistent",
    "jsxSingleQuote": false,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "importOrder": [
        "^(react|prop-types|lodash|axios|@vis.gl|@tanstack|@hookform|yup|@emotion|@mui|@cubejs)",
        "^(aws-amplify|chartjs|clsx|country-region-data|date-fns|marked|rc-tooltip|react|socket|uuid|vite)",
        "^@components",
        "^src/",
        "^[./]"
    ],
    "importOrderSeparation": false,
    "importOrderCaseInsensitive": true,
    "plugins": ["@trivago/prettier-plugin-sort-imports"]
}